DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.exe
DigitalScript/.vs/DigitalScript/v16/.suo
DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.csprojAssemblyReference.cache
