DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.exe
DigitalScript/.vs/DigitalScript/v16/.suo
DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.csprojAssemblyReference.cache
DigitalScript/.vs/DigitalScript/DesignTimeBuild/.dtbcache.v2
DigitalScript/DigitalScript/DBConfig.Designer.cs
DigitalScript/DigitalScript/bin/Debug/netcoreapp3.1/DigitalScript.dll
DigitalScript/DigitalScript/bin/Debug/netcoreapp3.1/DigitalScript.exe
DigitalScript/DigitalScript/bin/Debug/netcoreapp3.1/DigitalScript.pdb
DigitalScript/DigitalScript/bin/Debug/netcoreapp3.1/DigitalScript.runtimeconfig.dev.json
DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.assets.cache
DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.csproj.CoreCompileInputs.cache
DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.csproj.FileListAbsolute.txt
DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.dll
DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.genruntimeconfig.cache
DigitalScript/DigitalScript/obj/Debug/netcoreapp3.1/DigitalScript.pdb
